
@font-face {
    font-family: Arial, Helvetica, sans-serif;
}

.selectprint { padding-right:  0px;
  border: 0;
  margin-bottom:5px;
  outline: none;
}

table {
  border-collapse: collapse;
 
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
  text-align: center;
}

#feeTableAr th {border: 1px solid black !important;}
#feeTable th {
  border: 1px solid black !important;
}
#feeTable {
  max-height: 200px;
}

.bank-table td, table, th{
  border: none!important;

}

.bank-table {
  margin-top:-40px !important;

}

.tdstyle {
  text-align:right;
}

input, select {
    max-width: 100px;
    border: none;
}

p {
  font-size: 16px;
}

body{
  /* margin-top: 100px; */
}

.h5 {font-size: 30px;}

.gratuity{display: inline;}

select {
  text-align-last:center;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}



#feeTable, #feeTableAr {font-size: 14px;}
#feeTable td.name, th.name {min-width: 300px!important;}
#feeTableAr td.name, th.name {min-width: 250px!important;}
label {text-align: center;display: block;}
#academic_years_en_label {text-align: unset;display: inline;}
#academic_years_ar_label {text-align: unset;display: inline;}

#feedatear, #feedatear2 {
  float:left!important;
}

#statementEn, #statement {
  margin-top: 0px!important;
}

.col3{
  width: 33%!important;
  display: inline-block;
}

#logo_img {
  vertical-align: unset!important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#sign_label_div {
  /* width: 20%; */
  /* color: royalblue; */
  /* border: 1px solid red; */
  /* padding: 0,0,0,0; */
  float: left;
}
#sign_label {
  float: left;
}
#sign_box {
  /* width: 20%; */
  /* border: 5px solid green; */
  float: left;
}


#sign_box_ar{
  margin: unset;
}

