
@font-face {
    font-family: monospace;
    /*src: url(sansation_light.woff);*/
}


.selectprint { padding-right:  0px;
  border: 0;
  margin-bottom:5px;
  outline: none;

}

table {
  border-collapse: collapse;
 
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}
input, select {
    max-width: 100px;
    border: none;
}

p { font-size: 20px;}

body{margin-top: 150px;
}

.h5 {font-size: 30px;}

.gratuity{display: inline;}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

.arabictd{
    text-align: right;
}