
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.autoCamelCase{
    text-transform: capitalize;

}
.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}

.today{
    color:red;
}

.printInput{
    width: 100px;
}

.printInput{
    font-size:12px;
}

.arabictd{
    text-align: right;
}

.tdstyle{
    word-wrap: break-word;min-width: 300px;max-width: 320px;
}
.gratuity{display: none;}

/*input {

    text-transform: capitalize;
    max-width:100%!important;
    transition: width 0.25s;

}*/


input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

