
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.autoCamelCase{
    text-transform: capitalize;

}

.today{
    color:red;
}

.printInput{
    width: 100px;
}

.gratuity{display: none;}

/*input {

    text-transform: capitalize;
    max-width:100%!important;
    transition: width 0.25s;

}*/

