
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.autoCamelCase{
      text-transform: capitalize;

}


.printInput{
    width: 100px;
}

/*input {

    text-transform: capitalize;
    max-width:100%!important;
    transition: width 0.25s;

}*/

